
$layoutBgColor: #000000;
$topbarBgColor: #181818;
$sidebarBgColor: #181818;
$aboutBgColor: green;
$timelineBgColor: blue;
$fontColor: #f5b609;

$sidebarLeftPos: 240px;
$headerTopPos: 70px;

$sidebarLeft: 0px;
$sidebarTop: 0px;
$sidebarBottom: 0px;
$sidebarWidth: $sidebarLeftPos;

$headerTop: 0px;
$headerLeft: $sidebarWidth;
$headerRight: 0px;
$headerheight: $headerTopPos;

$mainTop: $headerheight;
$mainLeft: $sidebarWidth;
$mainRight: 0px;
$mainBottom: 0px;



@font-face {
    font-family: 'Cinzel ExtraBold';
    src: local('Cinzel'), url('../fonts/Cinzel-ExtraBold.ttf');
 }
  
body{
    font-size: 20px;
    color: $fontColor;
    font-family: 'Cinzel ExtraBold';

    a:link{
        color: $fontColor;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:visited {
        color: $fontColor;
        background-color: transparent;
        text-decoration: none;
      }
}

h1{
  font-size: large;
  color: $fontColor;
}

bar-container{
  position: absolute;
  background-color: $sidebarBgColor;
}

.sidebar{
  @extend bar-container;
  text-align: center;
  top: $sidebarTop;
  left: $sidebarLeft;
  width: $sidebarWidth;
  bottom: $sidebarBottom;
}

.header{
  @extend bar-container;
  padding-left: 10px;
  top: $headerTop;
  left: $headerLeft;
  right: $headerRight;
  height: $headerheight;
}

main-container{
  position: absolute;
  top: $mainTop;
  left: $mainLeft;
  right: $mainRight;
  bottom: $mainBottom;
  background-color: $layoutBgColor;
  padding-left: 20px;
}

.home{
  @extend main-container
}
.about{
  @extend main-container
}

.timeline{
  @extend main-container
}