
$layoutBgColor: #000000;
$barBgColor: #171b31;
// $sidebarBgColor: #181818;
$aboutBgColor: green;
$timelineBgColor: blue;
$fontColor: #f5b609;

$sidebarLeftPos: 240px;
$headerTopPos: 70px;

$sidebarLeft: 0px;
$sidebarTop: 0px;
$sidebarBottom: 0px;
$sidebarWidth: $sidebarLeftPos;

$headerTop: 0px;
$headerLeft: $sidebarWidth;
$headerRight: 0px;
$headerheight: $headerTopPos;

$mainTop: $headerheight;
$mainLeft: $sidebarWidth;
$mainRight: 0px;
$mainBottom: 0px;



@font-face {
    font-family: 'Cinzel ExtraBold';
    src: local('Cinzel'), url('../Fonts/Cinzel-Bold.ttf');
 }
  
body{
    font-size: 14px;
    color: $fontColor;

    a:link{
        color: $fontColor;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:visited {
        color: $fontColor;
        background-color: transparent;
        text-decoration: none;
      }
}

h1{
  font-family: 'Cinzel ExtraBold';
  font-size: x-large;
  color: $fontColor;
}

h2{
  color: #f5b609;
  margin-top: 16x;
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 3px;
  animation: fadeIn 1s 1.8s backwards;
}

bar-container{
  position: absolute;
  background-color: $barBgColor;
}

.sidebar{
  @extend bar-container;
  text-align: center;
  top: $sidebarTop;
  left: $sidebarLeft;
  width: $sidebarWidth;
  bottom: $sidebarBottom;
}

.SideBar_text-Zone{
  @extend .sidebar;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 200px;
      height: auto;
      
      &.sub-logo {
        width: 50px;
      }
    }
  }
}

.header{
  @extend bar-container;
  padding-left: 10px;
  top: $headerTop;
  left: $headerLeft;
  right: $headerRight;
  height: $headerheight;
}

main-container{
  position: absolute;
  top: $mainTop;
  left: $mainLeft;
  right: $mainRight;
  bottom: $mainBottom;
  background-color: $layoutBgColor;
  padding-left: 20px;
}

.home{
  @extend main-container;
}

.text-zone{
  @extend .home;
  h1{
    font-size: 35px
  }
  text-align:left;
  left: 0px;
  top: 30%;
  width: 400px;
}

.image-zone{
  @extend .home;
  top:15%;
  left:20%;  
}

.about{
  @extend main-container;
}

.timeline{
  @extend main-container;
}